<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Utility Services: Error</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1><%= title %></h1>
        <p>ver. <%= version %></p>

        <h4 class="section-head">records sorted by <em><%= sortBy %></em></h4>

        <table class="table table-bordered table-striped">
            <tr> 
              <th style="width:200px;">Last Name</th> 
              <th style="width:200px;">First Name</th> 
              <th style="width:200px;">Gender</th> 
              <th style="width:200px;">Favorite Color</th> 
              <th style="width:200px;">Date of Birth</th> 
            </tr>
            <% records.forEach((record) => {  %>
              <tr>
                <td><%= record.lastName  %></td>
                <td><%= record.firstName  %></td>
                <td><%= record.gender  %></td>
                <td><%= record.favoriteColor  %></td>
                <td><%= record.birthDate  %></td>

              </tr>
            <% })%>
            </table>
    </div>

</body>
</html>
